<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UShorten - Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" type="text/css" />
    <style type="text/css">
        footer {
          background-color: #d9dcde !important;
        }
        
        footer span {
          margin: 0 1rem;
        }
        
        nav p {
          font-size: 1em;
          font-weight: normal;
          color: white;
        }
        
        .container {
          margin-top: 10vh;
        }
        
        
        @media (max-width: 375.98px) {
          .container {
            margin-top: 5vh;
          }
          nav p {
            display: none;
          }
          .btn-outline-secondary,
          .input-group {
            height: 20px;
          }
          .btn-outline-secondary {
            font-size: 8px;
            padding-top: 0;
          }
        }
        
        @media (min-width: 1200px) {
            .container {
                max-width: 700px;
            }
        }
        @media (max-width: 576px) {
            nav p {
                display: none;
            }
        }
        
        label:first-child {
          font-weight: bold;
        }

    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-qriously@1.1.1/dist/vue-qriously.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/share2/share.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.6"></script>
</head>
<body>
    
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary justify-content-center">
  <div class="container" style="margin-top:2vh;">
  <a class="navbar-brand" href="#">UShorten</a>
  <p class="navbar-text">你可以使用网址压缩器将长网址缩短成友好的短网址</p>
  </div>
</nav>



<div class="container" id="mainBody">
  <!--<form class="needs-validation" novalidate>-->
    <label for="input-url">请输入完整的连接，包括http/https部分</label>
    
    
    <div class="input-group mb-3">
  <input type="url" class="form-control" @keyup.enter="shorten" aria-label="Text input with segmented dropdown button" id="input-url" v-model.trim="inputURL">
  <div class="input-group-append">
    <button @click="shorten" type="button" class="btn btn-outline-secondary">压缩网址</button>
    <button @click="showMore=!showMore;showError=false" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
  </div>
</div>

    

    <!-- more config -->
    <div id="moreConfig" v-show="showMore">
      <div class="card card-body">
        <input type="password" class="form-control" id="password" placeholder="密码保护" v-model="password">
        <div class="custom-control custom-checkbox custom-control-inline">

          <input type="checkbox" id="pwForVisit" name="pwForVisit" class="custom-control-input" value="pwvs" v-model="protectList">
          <label class="custom-control-label" for="pwForVisit">保护访问</label>
        </div>

        <div class="custom-control custom-checkbox custom-control-inline">
          <input type="checkbox" id="pwForStatus" name="pwForStatus" class="custom-control-input" value="pwst" v-model="protectList">
          <label class="custom-control-label" for="pwForStatus">保护链接数据</label>
        </div> <!-- end Password Config -->
        <label for="customURL" style="
    border-top: 1px dotted #ccc;
">自定义短网址</label>
        <input type="text" class="form-control" id="customURL" placeholder="请输入你想要的短网址，如: food4sale" v-model.trim="customSlug">
      </div>
    </div>


  <!--</form>-->

  <div v-if="showError" class="alert alert-danger" role="alert" v-text="showErrormsg">
    
  </div>

  <div v-if="shortenurl" class="card card-body" style="margin-bottom:60px;">
    <div class="row">
      <div class="col">
        <input type="text" disabled :value="shortenurl" id="shortenlink" style="margin-top:2vh;">
      </div>
      <div class="col">
        <qriously :value="shortenurl" :size="150" style="margin-top:2vh;float:left"></qriously>
        <div class="ya-share2" data-services="facebook,gplus,twitter,sinaWeibo,evernote,pocket,qzone,tumblr,telegram" data-limit="4" :data-url="shortenurl"></div>
      </div>
    </div>
  </div>


</div>



<footer class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="#">&copy;UShorten&nbsp; 2018</a>
      <span class="navbar-text"><a class="badge badge-light" href="mailto:wnor#live.cn">联系</a></span>
      <span class="navbar-text"><a class="badge badge-light" href="#">隐私政策</a></span>
      <span class="navbar-text"><a class="badge badge-light" href="#">v1.0</a></span>
    </div>
</footer>

    
    
    <script>{% raw %}
        var mainbody = new Vue({
          el: "#mainBody",
          data: {
            showError: false,  // show error
            showMore: false, // show more config on shorten url
            showErrormsg: '', // msg of what kind of error
            
            inputURL: '', // input url
            protectList: [], //
            password: '',
            customSlug: '',
            
            shortenurl: '', // encoded url to slug
          },
          methods: {
            shorten: function() {
              this.disabledDropdown = false;
              if (!this.inputURL) {
                this.showError = true;
                this.showErrormsg = '网址不能为空！';
                this.shortenurl = '';
              } else {
                if ((this.protectList.length !== 0 && this.password.length !== 0) || (this.protectList.length === 0 && this.password.length === 0)) {
                  this.showError = false;
                  this.showMore = false;
                  if (this.checkURL()) {  
                    this.customSlug ? this.checkCustom() : this.doPost();
                  } else {
                    this.showError = true;
                    this.shortenurl = false;
                    this.showErrormsg = '无效网址！';
                  }
                } else{
                  this.showError = true;
                  this.showErrormsg = '密码/保护选项不能为空！';
                }
              }
            },
            
            checkURL: function() {
              return /[http|https]+:\/\/[^\s]+\.{1}[^\s]+/.test(this.inputURL);
            },
            
            checkCustom: function() {
              if (/^[a-zA-Z0-9]{4,20}$/.test(this.customSlug)) {
                this.doPost();
                return true;
              } else {
                this.showError = true;
                this.showErrormsg = '你输入了无效字符或是字符数长度小于4';
                return false;
              }
            },
            
            doPost: function() {
              var vm = this;
              vm.$http.post('/', {'url': vm.inputURL, 'password': vm.password, 'customslug': vm.customSlug, 'protect': vm.protectList.toString()}, {emulateJSON: true})
                  .then((resp)=>{
                    if (resp.data.Error){
                      alert(resp.data.Error);
                    } else {
                      this.shortenurl = resp.data.OK;
                      this.disabledDropdown=true;
                    }
                  });
            },
            
          }
        });

    {% endraw %}</script>
    
</body>
</html>