<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" type="text/css" />
    <style type="text/css">
        footer {
          background-color: #d9dcde !important;
        }
        
        nav p {
          font-size: 1em;
          font-weight: normal;
          color: white;
        }
        
        .container {
          margin-top: 10vh;
        }
        
        
        @media (max-width: 375.98px) {
          .container {
            margin-top: 5vh;
          }
          .btn-outline-secondary,
          .input-group {
            height: 20px;
          }
          .btn-outline-secondary {
            font-size: 8px;
            padding-top: 0;
          }
        }
        
        @media (min-width: 1200px) {
            .container {
                max-width: 700px;
            }
        }
        

    </style>
</head>
<body>
    
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary justify-content-center" id="navbar">
        <div class="container" style="margin-top:2vh;">
            <a class="navbar-brand" href="#">UShorten</a>
            <span class="navbar-text">你所访问的页面受密码保护</span>
        </div>
    </nav>
    
    
    <div id="postPassword" class="container">
        <div v-if="showError">
            <div v-text="errorMsg" class="alert alert-danger" role="alert"></div>
        </div>
        <div class="card card-body">
            <div class="input-group mb-3">
                <input type="text" name="password" class="form-control" @keyup.enter="doPost" v-model="password" placeholder="访问密码" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" @click="doPost" type="button">确认</button>
                  </div>
            </div>
            
        </div>
        <br/>
        <div class="card" v-if="receivedData">
            <h5 class="card-header">数据结果</h5>
            <div class="card-body">
                <pre v-text="receivedData"></pre>
            </div>
        </div>
    </div>
    
    <script>{% raw %}
    
        var postPassword = new Vue({
            el: '#postPassword',
            data: {
                password: '',
                receivedData: '',
                showError: false,
                errorMsg: '',
            },
            methods: {
                doPost: function() {
                    var vm = this;
                    vm.$http.post(window.location.pathname, {'password': vm.password}, {emulateJSON: true})
                        .then((resp) => {
                            if (resp.data.Error) {
                                this.password = '';
                                this.showError = true;
                                this.errorMsg = resp.data.Error;
                            }
                            else if (resp.data.redirect) {
                                window.location.href = resp.data.redirect;
                            } else {
                                this.showError = false;
                                this.errorMsg = '';
                                this.receivedData = resp.data[1];
                            }
                        });
                },
            },
        });
    {% endraw %}</script>
</body>
</html>