<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{url}} -- 相关数据</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css" type="text/css" />
    <style type="text/css">
        footer {
          background-color: #d9dcde !important;
        }
        
        nav p {
          font-size: 1em;
          font-weight: normal;
          color: white;
        }
        
        .container {
          margin-top: 10vh;
        }
        
        
        @media (max-width: 375.98px) {
          .container {
            margin-top: 5vh;
          }
          .btn-outline-secondary,
          .input-group {
            height: 20px;
          }
          .btn-outline-secondary {
            font-size: 8px;
            padding-top: 0;
          }
        }
        
        @media (min-width: 1200px) {
            .container {
                max-width: 700px;
            }
        }
        

    </style>
</head>
<body>
    
    
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary justify-content-center" id="navbar">
        <div class="container" style="margin-top:2vh;">
            <a class="navbar-brand" href="#">UShorten</a>
            <span class="navbar-text">你正访问<b>{{short_url}}</b>的相关数据</span>
        </div>
    </nav>
    
    
    <div id="postPassword" class="container">
        <div class="card">
            <h5 class="card-header">数据结果</h5>
            <div class="card-body">
                <pre>
{
    "short_url": {{short_url}},
    "url": {{url}},
    "visit_count": {{visit_count}}
}
                </pre>
            </div>
        </div>
    </div>
</body>
</html>